.editor-container {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 600px;
}

.editor-container > h2 {
  background-color: #000;
  color: #fff;
  padding: 4px;
  margin: 0;
}

#editor {
  overflow: auto;
  display: block;
  padding: 10px;
  font-size: 14px;
  resize: none;
  flex: 1 0 auto;
}

@media (min-width: 1140px) {
  .editor-container {
    flex: 0 0 48%;
  }
}
