.editor-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 400px;
  margin: 0 0 15px 0;
}

#editor {
  overflow: auto;
  display: block;
  padding: 10px;
  font-size: 14px;
  resize: none;
  flex: 1 1 auto;
}

@media (min-width: 1140px) {
  .editor-container {
    flex: 0 0 48%;
    height: 600px;
    margin: 0 15px 0 0;
  }
}
